<!DOCTYPE html>
<html>
  <head>
    <!-- texto reemplazado desde el enrutador -->
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="../public/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
