<p>
  <label form="preg" class="rem">Pregunta:</label>
  <% if (edicion){ %>
    <input type="text" value="<%=quiz.pregunta %>"
    name="quiz[pregunta]" required="true">
  <%}
  else
  { %>
    <input type="text" placeholder="<%=quiz.pregunta %>"
    name="quiz[pregunta]" required="true">
  <% } %>
</p>
<p>
  <label form="preg" class="rem">Respuesta:</label>
  <% if (edicion){ %>
    <input type="text" value="<%=quiz.respuesta %>"
    name="quiz[respuesta]" required="true">
  <%}
  else
  { %>
    <input type="text" placeholder="<%=quiz.respuesta %>"
    name="quiz[respuesta]" required="true">
  <% } %>
</p>
<p>
  <a href="/quizes"><button type="button">Cancelar</button></a>
  <input type="submit" value="Guardar"></input>
</p>
