<p>
  <label form="preg" class="rem">Pregunta:</label>
  <input type="text" placeholder="<%=quiz.pregunta %>"
  name="quiz[pregunta]" required="true">
</p>
<p>
  <label form="preg" class="rem">Respuesta:</label>
  <input type="text" placeholder="<%=quiz.respuesta %>"
  name="quiz[respuesta]" >
</p>
<p>
  <a href="/quizes"><button type="button">Cancelar</button></a>
  <input type="submit" value="Guardar"></input>
</p>
