<!--<!DOCTYPE html>
<html>
  <head>-->
    <!-- texto reemplazado desde el enrutador -->
    <!--<title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Quiz: el juego de las preguntas</h1>-->
    <p>Su respuesta <span style="font-weight:bold"><%= respuestaUsu %></span>
      ha sido <%= Resultado %></p>
    <a href="question">Inténtalo de nuevo</a>
  <!--</body>
</html>-->
